@using SqlComparer.Model
@using SqlComparer.Web.ViewModels
@model ComparisonResultViewModel

<div class="row">
    <div>
        @{
            var needsAction = Model.ComparisonResult.Outcome == ComparisonOutcome.Missing ||
                              Model.ComparisonResult.Outcome == ComparisonOutcome.Different;
        }

        <div class="col-sm-5">
            <h3>@Model.LeftAlias</h3>

            <pre class="well comparison">
                @{
                    for (var i = 0; i < Model.ComparisonResult.LeftSourceTreeByLine.Count; i++)
                    {
                        var line = Model.ComparisonResult.LeftSourceTreeByLine.ElementAt(i);
                        if (Model.ComparisonResult.LinesDifferingInLeftEntity.Contains(line.Key))
                        {
                            <code class="Diff">@line.Value</code>
                        }
                        else
                        {
                            <code>@line.Value</code>
                        }
                    }
                }
            </pre>
        </div>

        <div class="col-sm-2 text-center">
            @if (Model.ShowPushOptions)
            {
                <div>
                    @if (needsAction && !string.IsNullOrWhiteSpace(Model.LeftEntity))
                    {
                        <form method="post" asp-controller="Comparison" asp-action="Push">
                            <button class="btn btn-danger">Push <i class="glyphicon glyphicon-arrow-right"></i></button>
                            <input type="hidden" name="PushFromLeftToRight" value="true"/>
                            <input asp-for="TargetDatabase" type="hidden"/>
                            <input asp-for="LeftAlias" type="hidden"/>
                            <input asp-for="RightAlias" type="hidden"/>
                            <input asp-for="LeftEntity" type="hidden"/>
                            <input asp-for="RightEntity" type="hidden"/>
                        </form>
                    }

                    @if (needsAction && !string.IsNullOrWhiteSpace(Model.RightEntity))
                    {
                        <form method="post" asp-controller="Comparison" asp-action="Push">
                            <button class="btn btn-danger" style="margin: 5px 0 0 6px"><i class="glyphicon glyphicon-arrow-left"></i> Push</button>
                            <input type="hidden" name="PushFromRightToLeft" value="true"/>
                            <input asp-for="TargetDatabase" type="hidden"/>
                            <input asp-for="LeftAlias" type="hidden"/>
                            <input asp-for="RightAlias" type="hidden"/>
                            <input asp-for="LeftEntity" type="hidden"/>
                            <input asp-for="RightEntity" type="hidden"/>
                        </form>
                    }
                </div>
            }

            @if (!needsAction)
            {
                <span><i class="glyphicon glyphicon-ok-sign cEqu btn-lg padResp40 "></i></span>

            }
            else
            {
                <span><i class="glyphicon glyphicon-remove-sign cDiff btn-lg padResp40"></i></span>
            }

        </div>

        <div class="col-sm-5">
            <h3>@Model.RightAlias</h3>

            <pre class="well comparison">
                @{
                    for (var i = 0; i < Model.ComparisonResult.RightSourceTreeByLine.Count; i++)
                    {
                        var line = Model.ComparisonResult.RightSourceTreeByLine.ElementAt(i);
                        if (Model.ComparisonResult.LinesDifferingInRightEntity.Contains(line.Key))
                        {
                            <code class="Diff">@line.Value</code>
                        }
                        else
                        {
                            <code>@line.Value</code>
                        }
                    }
                }
        </pre>
        </div>


    </div>
</div>

<div class="clearfix"></div>